.container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-container {
  height: 50vh;
  width: 30vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  height: 100px;
  width: 100px;
}
.toss-container {
  display: flex;
}
button {
  background-color: #e2a139;
  border-width: 0px;
  padding: 5px;
  border-radius: 2px;
}
